$tab-container-p: 10px;
$tabs-size: 42px;
$tab-panel-p: 0px;
$content-distance: 16px;

.tab-container {

    width: calc(100% - $tab-container-p * 2);
    padding: $tab-container-p;
    max-width: 400px;
    margin: 0 auto;
    // height: calc(75% - $tab-container-p * 2);

    .tabs {
        display: flex;
        position: relative;
        height: $tabs-size;

        .tab {
            flex: 1;
            text-align: center;
            padding: 12px 0;
            cursor: pointer;
            position: relative;
            z-index: 1;
            font-weight: 500;
            color: #8d8d97;
            transition: color 0.3s ease;
        }

        .tab.active {
            color: #fff;
        }

        .slider {
            position: absolute;
            bottom: 0;
            height: 42px;
            border-radius: 16px;
            background-color: #f27657;
            transition: all 0.3s ease;
            z-index: 0;
        }
    }

    .tab-content-wrapper {
        overflow: hidden;
        width: 100%;
        height: calc(100% - $tabs-size);


        .tab-content-inner {
            display: flex;
            width: calc(100% + $content-distance);
            gap: $content-distance;
            height: 100%;
            transition: transform 0.4s ease;

            .tab-panel {
                width: calc(100% - $tab-panel-p * 2 - $content-distance);
                margin-top: 10px;
                flex-shrink: 0;
                padding: $tab-panel-p;
                text-align: center;
                font-size: 16px;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                .h2h {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }

        .tab-content-inner.dragging {
            transition: none;
        }
    }
}