.field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    width: 100%;
    height: 500px;
}

.team-selector {
    display: flex;
    position: relative;
    height: 42px;
    background: #262636;
    border-radius: 16px;

    .tab {
        flex: 1;
        z-index: 1;
        text-align: center;
        padding: 12px 0;
        cursor: pointer;
        font-weight: 500;
        color: #888;
        transition: color 0.3s ease;
    }

    .tab.active {
        color: #fff;
    }

    .slider {
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 42px;
        background-color: #434351;
        border-radius: 16px;
        transition: left 0.3s ease;
    }
}