.expandable {
  border-radius: 16px;
  overflow: hidden;
  color: white;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 500;
    background: #424259;
    user-select: none;
    // border-radius: 16px;
  }

  .arrow {
    display: inline-block;
    transition: transform 0.2s ease;
  }

  .content {
    overflow: hidden;
    background-color: #2a2a3b;
  }

  .inner {
    padding: 12px 6px;
  }
}