.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.date-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.date-title {
    text-align: center;
    color: #fff;
    margin-bottom: 2px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 10px;
    border-radius: 12px;
    
}