$match-vertical-p: 12px;

.game-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inner-match-item {
    padding: $match-vertical-p 14px;
    border-radius: 30px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    // height: calc(25% - $match-vertical-p * 2);
    justify-content: space-evenly;

    .middle-line {

        .team-wrapper .team .team-title {
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.h2h {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.referee,
.stadium {
    display: flex;
    align-items: stretch;
    gap: 6px;
    font-size: 14px;
    color: #bdbdbd;
}

.bottom-line {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.players-list {
    .players-list-item {
        display: flex;
        align-items: center;
        gap: 10px;

        .reason {
            width: 40px;
            height: 50px;
            background-color: chocolate;
        }

        .player-image {
            width: 50px;
            height: 50px;
            background-color: darkslategray;
        }

        .player-name {}
    }
}