#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  height: calc(100svh - 32px);
  scroll-behavior: smooth;
  overflow-y: scroll;
}