.match-item {
    position: relative;
    background-color: #262636;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 12px 14px;
    border-radius: 30px;
    overflow: hidden;

    .top-line {
        font-size: 11px;
        text-align: center;
    }

    .middle-line {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;

        .time {
            font-size: 26px;
        }

        .team-wrapper.left {
            justify-content: flex-start;
        }

        .team-wrapper.right {
            justify-content: flex-end;
        }

        .team-wrapper {
            display: flex;
            justify-content: center;

            .team {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80px;
                gap: 6px;

                .team-logo {
                    width: 50px;
                    height: 50px;
                }

                .team-title {
                    font-size: 14px;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }
            }
        }
    }
}

.match-item.fcwc {
    background-color: #000000;
}
.overlay.fcwc {
    background: url(https://imagecache.365scores.com/image/upload/f_png,w_120,h_120,c_limit,q_auto:eco,dpr_2,d_Countries:Round:2.png/v5/Competitions/5096) no-repeat center / contain;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -65px;
}



.match-item.ucl {
    background: linear-gradient(45deg, #0f111a, #022eef);
}
.overlay.ucl {
    background: url(https://imagecache.365scores.com/image/upload/f_png,w_120,h_120,c_limit,q_auto:eco,dpr_2,d_Countries:Round:2.png/v5/Competitions/572) no-repeat center / contain;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -65px;
}


.match-item.laliga {
    background: #ff4a42;
}
.overlay.laliga {
    background: url(https://imagecache.365scores.com/image/upload/f_png,w_120,h_120,c_limit,q_auto:eco,dpr_2,d_Countries:Round:2.png/v5/Competitions/11) no-repeat center / contain;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -65px;
}

.match-item.usc {
    background: #17406C;
    background: linear-gradient(0deg, rgba(23, 64, 108, 1) 0%, rgba(20, 46, 87, 1) 50%);
}
.overlay.usc {
    background: url(https://imagecache.365scores.com/image/upload/f_png,w_120,h_120,c_limit,q_auto:eco,dpr_2,d_Countries:Round:2.png/v5/Competitions/472) no-repeat center / contain;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -65px;
}


.match-item.wc_eu {
    background: url('/src/assets/wc.jpg') no-repeat center / cover;
}
.overlay.wc_eu {
    background: url(https://imagecache.365scores.com/image/upload/f_png,w_120,h_120,c_limit,q_auto:eco,dpr_2,d_Countries:Round:2.png/v5/Competitions/5421) no-repeat center / contain;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -65px;
}


.match-item.wc_am {
    background: url('/src/assets/wc.jpg') no-repeat center / cover;
}
.overlay.wc_am {
    background: url(https://imagecache.365scores.com/image/upload/f_png,w_120,h_120,c_limit,q_auto:eco,dpr_2,d_Countries:Round:2.png/v5/Competitions/613) no-repeat center / contain;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -65px;
}

